<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if user.is_authenticated %}
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </div>
      {% else %}
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'home'%}">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
